<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
  <head th:insert="fragments/head.html :: headerfiles"></head>

  <body>
    <nav th:insert="fragments/navbar.html :: navbar" class="sticky-top"></nav>

    <div class="position-relative overflow-hidden m-md-3 text-center header-bg-img">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 fw-normal title-text">Update Product</h1>
      </div>
  </div>

    <div class="container mt-5">
        <form
          th:action="@{/seeProducts/save}"
          th:object="${editProduct}"
          method="post"
        >
          <div class="mb-3">
            <label for="code" class="form-label"
              >Code</label
            >
            <input
            	required
              type="text"
              class="form-control"
              th:field="*{code}"
              placeholder="Code"
              autofocus
            />
          </div>
          <div class="mb-3">
            <label for="name" class="form-label"
              >Name</label
            >
            <input
            	required
              type="text"
              class="form-control"
              placeholder="Name"
              th:field="*{name}"
            />
          </div>

          <div class="mb-3">
            <label for="brand" class="form-label">Brand</label>
            <input
           	 	required
              type="text"
              class="form-control"
              placeholder="Brand"
              th:field="*{brand}"
            />
          </div>

          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input
              type="text"
              class="form-control"
              placeholder="Description"
              th:field="*{description}"
            />
          </div>
          
          <div class="mb-3">
            <label for="stock" class="form-label">Stock</label>
            <input
            required
              type="text"
              pattern="[1-9]*"
              class="form-control"
              placeholder="Stock"
              th:field="*{stock}"
            />
          </div>


          <div class="mb-3"></div>
          <button type="submit" class="btn lightPink_btn">Save</button>
        </form>

        <br />
        <a th:href="@{/seeProducts}" class="btn lightBlue_btn">
          <i data-feather="corner-down-left"></i> Return
        </a>
    </div>
    <div th:insert="fragments/scripts.html :: scripts">
  </body>
</html>
