<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:insert="fragments/head.html :: headerfiles"></head>

<body>
	<nav th:insert="fragments/navbar.html :: navbar" class="sticky-top"></nav>

	<div class="container mt-5 mb-5" id="about">
		<div class="row mt-5 justify-content-center ">
			<div class="col align-self-center">
				<h1>About the issue</h1>
				<br>
				<p>Since most of the small companies in the country do not have
					an inventory system to manage their products, our team of
					developers have built a prototype to solve the need.</p>
			</div>
			<div class="col align-self-center">
				<img th:src="@{../../img/searchHouse.png}" alt=""
					style="width: inherit;">
			</div>
		</div>
		<div class="row justify-content-center mt-5">
			<div class="text-center">
				<h1>Only 40% of Peruvians have an inventory system in their
					small businesses</h1>
				<br>
			</div>
		</div>
		<div class="row justify-content-center mb-5">
			<div class="col align-self-center">
				<h1 class="text-center">Who are behind this project?</h1>
				<br>

				<!-- Photos -->
				<div class="card-group">
					<div class="card">
						<img th:src="@{../../img/dare.jpeg}" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Jose Mascaro</h5>
						</div>
					</div>
					<div class="card">
						<img th:src="@{../../img/jisus.jpeg}" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Jesus Mercado</h5>
						</div>
					</div>
					<div class="card">
						<img th:src="@{../../img/searchHouse.png}" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
						</div>
					</div>
					<div class="card">
						<img th:src="@{../../img/searchHouse.png}" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
						</div>
					</div>
				</div>
				<!-- Photos -->

				<p class="text-center">If you are an ally or part of the
					community get in touch with us!</p>
				<p class="text-center">
					<a class="btn btn-lg lightPink_btn text-center mx-auto">Contact
						Us</a>
				</p>
			</div>
		</div>
	</div>

	<div th:insert="fragments/scripts.html :: scripts">
</body>

</html>